body{
    font-family: Arial, Helvetica, sans-serif;
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

input{
    width:98%;
    height:20px;
    border:none;
    border-radius:5px;
    padding:5px;
    font-size:1.1rem;
    color:gray;
}
h3{
    background: black;
    text-align:center;
    padding:5px;
    color:white;
    text-transform:capitalize;
    font-size:27px;
}
@media(min-width:768px){
    .grid-card{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:20px;
    }
}
.card{
    border:solid 1px gray;
    border-radius:5px;
    margin:10px;
    background:tomato;
    color:white;
    font-size:1rem;
    text-align:center;
    text-transform:capitalize;
}
.card img{
    width:100%;
}